.JpegSignature img{
  /* width : 500px;
  height : 300px;
  margin-left: 50px; */
  display: block;
}

.clickAble {
    position: absolute;
    top: 6.6rem;
    left: 33.8rem;
    font-size: 0.752rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
  }

  .clickAble:hover {
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s all;
  }